body,
html {
  background-color: #121212;
  height: 100vh;
}

.navbar a {
  color: #9D00FF;
  background-color: #343434;
  font-weight: bold;
  font-size: 32px;
  -webkit-text-stroke: .5px black;
}

.dropBackground {
  background-color: #343434;
}

.title {
  color: #BE00FE;
  padding-left: 6px;
}


.container {
  padding-top: 24px;
  margin: auto;

}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.me {
  width: 60%;
  height: 60%;
  aspect-ratio: 4/3;
  left: auto;
  right: auto;
}

.pictureContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 28px;
  text-align: center;
}

.column{
  text-align: center;
}

.caption {
  padding-top: 16px;
}

.titleCaption{
  color: #BE00FE;
  padding-bottom: 16px;
}

.label {
  color: white;
  font-weight: normal;
}

.imageLink {
  height: 40vh;
}

.input,
.textarea {
  background-color: #343434;
  color: white;
}

.input::placeholder,
.textarea::placeholder {
  color: gray;
}