<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css')}}"
    />
  </head>
  <body>
    <nav
      class="navbar has-background-dark"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger toggle"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          onclick="burgerButton()"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu toggle dropBackground">
        <div class="navbar-start">
          <a class="navbar-item" href="/">About Me</a>
          <a class="navbar-item" href="/contact">Contact</a>
          <a class="navbar-item" href="/projects">Projects</a>
          <a class="navbar-item" href="/resume">Resume</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2 class="title is-1">{%block title%}About Me {% endblock %}</h2>
        {% block content %}
        <div class="pictureContainer">
          <img
            src="{{ url_for('static', filename='photos/me.jpg')}}"
            alt="Picture of Jacob Lockhart"
            class="me"
          />
        </div>
        <p>
          Hello! My name is Jacob Lockhart. I have recently graduated the
          University of North Carolina at Charlotte coding bootcamp. I am currently
          looking for jobs and have put in many applications. In the mean time I have
          made a couple of side games including snake and what I like to call fishy game
          which is a flappy bird type game.
        </p>
        {% endblock %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='scripts/index.js')}}"></script>
  <script
    src="https://kit.fontawesome.com/5a9f48c8be.js"
    crossorigin="anonymous"
  ></script>
</html>
