{% extends "base.html" %} {% block title %} Projects {% endblock%} {% block
content%}

<h2 class="titleCaption">Press on the picture to see the live site</h2>

<div class="columns">
  <div class="column">
    <a href="https://revilite.github.io/Snake/" targer="_blank">
      <img
        src="{{ url_for('static', filename='photos/snake.png')}}"
        alt="Screenshot of snake game"
        class="imageLink"
      />
    </a>
    <h2 class="caption">Snake Game</h2>
  </div>
  <div class="column">
    <a href="https://revilite.github.io/testing-gravity/" targer="_blank">
      <img
        src="{{ url_for('static', filename='photos/fishgame.png')}}"
        alt="Screenshot of snake game"
        class="imageLink"
      />
    </a>
    <h2 class="caption">Swimmy Fish</h2>
  </div>
  <div class="column">
    <a href="https://revilite.github.io/Weather-Dashboard/" targer="_blank">
      <img
        src="{{ url_for('static', filename='photos/weatherMachine.png')}}"
        alt="Screenshot of snake game"
        class="imageLink"
      />
    </a>
    <h2 class="caption">Snake Game</h2>
  </div>
</div>

{% endblock %}
